@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Override some defaults */
html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  background-image: url(http://cabargas.com/images/backnicoblack.jpg);
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: rgba(255,255,255,0);
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.post{
  background-color: #FEFEFE;
  padding: 20px;
  border-radius: 5px;
}

ul.posts > li {
  background-color: white;
  border-radius: 5px;
  height: auto;
  padding: 50px;
  margin-bottom: 10px;
  list-style-type: none;
}

ul.posts > li > p.post-author {
  text-align: right;
}

ul.posts > li > span {
  font-size: 12px;
  float: right;
  font-style: italic;
}

ul.posts > li > p {
  text-align: justify;
}

ul.posts > li > a, a:hover, a:visited{
  font-size: 20px;
  color: #272727;
  text-decoration: none;
}

ul.posts > li > a.btn, a.btn:hover, a.btn:visited{
  font-size: 16px;
  color: white;
  float: center;
  text-decoration: none;
}

ul.nav-stacked , ul.nav-stacked > li{
  background-color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
}

ul.side{
  margin-bottom: 20px;
}

ul.img-box > li {
  margin-left: -25px;
  height: 300px;
  width: 300px;
  background-color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  list-style-type: none;
}

ul.fb-box > li {
  margin-left: -25px;
  width: 300px;
  background-color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  list-style-type: none;
}

ul.tw-box > li {
  margin-left: -25px;
  padding-top: 20px;
  height: 40px;
  width: 300px;
  background-color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  list-style-type: none;
}

ul.nav-stacked > li:hover, ul.nav-stacked > li > a, a:visited{
  color: #272727;
}

ul.nav-stacked > li:hover, ul.nav-stacked > li > a:hover{
  color: #fff;
}

ul.nav-stacked > li:hover, ul.nav-stacked > li:hover > a{
  background-color: #272727;
  font-size: 16px;
}

/* Page header tweaks */
.page-header {
  text-align: center;
  background-color: rgba(0,0,0,0);
  padding: 20px 20px 20px;
  margin: -20px -20px 20px;
}

.page-header h1{
  color: #ffe;
  font-size: 40px;
}

.page-header img{
  height: 60px;
  margin-bottom: -15px;
}

.topbar .btn {
  border: 0;
}

footer{
  color: white;
}

footer > a, a:visited, a:hover{
  color: white;
  font-size: 18px;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	