<div class="page-header">
  <a href="http://nicolascabargas.github.com/"><img src="http://cabargas.com/images/falsamodestiainvert.png"></a>
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4">
    <ul class="side nav nav-pills nav-stacked">
      {% assign pages_list = site.pages %}
      {% assign group = 'navigation' %}
      {% include JB/pages_list %}
    </ul>
    <ul class="fb-box side">
      <li>
        <div class="fb-like-box" data-href="http://www.facebook.com/pages/Falsa-Modestia/402952073132119?ref=hl" data-width="300" data-show-faces="false" data-colorscheme="light" data-stream="false" data-border-color="#fff" data-header="true"></div>
      </li>
    </ul>
</div>
