<a href="http://nicolascabargas.github.com/"><div class="page-header">
  <h1><img src="http://cabargas.com/images/falsamodestiainvert.png">
  Falsa Modestia</h1>
</div></a>
<hr>
<div class="navigation row">
  <a class="span2" href="index.html">Inicio</a>
  <a class="span2" href="noticias/">Noticias</a>
  <a class="span2" href="entrevistas/">Entrevistas</a>
  <a class="span2" href="concursos/">Concursos</a>
  <a class="span2" href="streetstyle/">StreetStyle</a>
  <a class="span2" href="about/">Nosotros</a>
</div>
<hr>

<div class="row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4">
    <ul class="side img-box">
      <li>
        <img src="http://placehold.it/280x280"/>
        <p>Photo by: @juanpintoduran</p>
      </li>
    </ul>
    <ul class="fb-box side">
      <li>
        <div class="fb-like-box" data-href="http://www.facebook.com/pages/Falsa-Modestia/402952073132119?ref=hl" data-width="300" data-show-faces="false" data-colorscheme="light" data-stream="false" data-border-color="#fff" data-header="true"></div>
      </li>
    </ul>
    <ul class="tw-box side">
      <li>
        <a href="https://twitter.com/falsamodestia" class="twitter-follow-button" data-show-count="true" data-lang="es" data-size="medium">Follow @twitter</a>
      </li>
    </ul>
</div>
